.heading {
    color: blue;
    font-style: oblique;
}

.child {
    display: flex;
    flex: 50%;
    flex-direction: column;
    min-height: 150px;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

.parent {
    display: flex;
}

/*.column {*/
/*    flex: 50%;*/
/*}*/

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
<style>
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
<style>
.align-items-center {
    align-items: center !important;
}
<style>
.justify-content-between {
    justify-content: space-between !important;
}
<style>
.flex-wrap {
    flex-wrap: wrap !important;
}
<style>
.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
<style>
.d-flex {
    display: flex !important;
}
<style>
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
footer {
    display: block;